<h2>Lists</h2>
<div class="mb-2">
  <a class="btn btn-outline-secondary" routerLink="/lists/new">new</a>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
<div *ngIf="!loading">
  <app-book-list-summary [list]="list" (listRemoved)="removeList($event)" *ngFor="let list of bookLists"></app-book-list-summary>
</div>
