<div class="card">
  <a *ngIf="book.thumbnailUrl" [routerLink]="['/books', book.id]">
    <img class="card-img-top" alt="{{book.title}}" src="{{book.thumbnailUrl}}" />
  </a>
  <div class="card-body">
    <h6 class="card-text">{{readAt}}</h6>
    <h5 class="card-title"><a [routerLink]="['/books', book.id]">{{book.title}}</a></h5>
    <h6 class="card-text">by {{book.authors | authors }}</h6>
  </div>
</div>
