<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/books">Books</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/books',book.id]">{{book.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<form #bookForm="ngForm" (ngSubmit)="save()">
  <div class="mb-3">
    <label for="title">Title</label>
    <input id="title" class="form-control" type="text" name="title" [(ngModel)]="book.title" required>
  </div>
  <div class="mb-3">
    <app-authors [authors]="book.authors" (authorsChanged)="book.authors = $event"></app-authors>
  </div>
  <div class="mb-3">
    <app-book-status [status]="book.status" (statusChanged)="book.status = $event"></app-book-status>
  </div>
  <div class="mb-3">
    <label for="publicationDate">Publication Date</label>
    <input id="publicationDate" class="form-control" type="text" name="publicationDate" [(ngModel)]="book.publicationDate">
  </div>
  <div class="mb-3">
    <label for="language">Language</label>
    <input id="language" class="form-control" type="text" name="language" [(ngModel)]="book.language" required>
  </div>
  <div class="mb-3">
    <label for="publisher">Publisher</label>
    <input id="publisher" class="form-control" type="text" name="publisher" [(ngModel)]="book.publisher">
  </div>
  <div class="mb-3">
    <label for="pageCount">Pages</label>
    <input id="pageCount" class="form-control" type="number" minlength="0" name="pageCount" [(ngModel)]="book.pageCount">
  </div>
  <div class="mb-3">
    <label for="isbn10">ISBN 10</label>
    <input id="isbn10" class="form-control" type="text" name="isbn10" [(ngModel)]="book.isbn10">
  </div>
  <div class="mb-3">
    <label for="isbn13">ISBN 13</label>
    <input id="isbn13" class="form-control" type="text" name="isbn13" [(ngModel)]="book.isbn13">
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea id="description" type="text" rows="12" class="form-control" name="description" [(ngModel)]="book.description"></textarea>
  </div>
  <div class="mb-3">
    <label for="notes">Notes</label>
    <textarea id="notes" type="text" rows="5" class="form-control" name="notes" [(ngModel)]="book.notes"></textarea>
  </div>
  <div class="mb-3">
    <input type="submit" value="Save" class="btn btn-dark" [disabled]="!bookForm.form.valid">
  </div>
</form>
