<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lists">Lists</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{bookList.name}}</li>
  </ol>
</nav>
<h2>{{bookList.name}}</h2>
<p>{{bookList.description}}</p>
<div class="clearfix">
  <div class="float-start">
    <a class="btn btn-outline-secondary" [routerLink]="['/lists', bookList.id, 'edit']"><fa-icon [icon]="faEdit"></fa-icon> edit</a>
  </div>
  <div *ngIf="bookList.publicAccess" class="float-end btn-group">
    <a class="btn btn-outline-secondary" [routerLink]="['/lists/public', bookList.id]"><fa-icon [icon]="faShareAlt"></fa-icon> public link</a>
    <button class="btn btn-outline-secondary" (click)="copyPublicLink()"><fa-icon [icon]="faCopy"></fa-icon> copy link</button>
  </div>
</div>
<h3 class="mt-4">Books</h3>
<app-internal-book-list-item [last]="i === bookList.books.length - 1" [book]="book" *ngFor="let book of bookList.books; let i = index"></app-internal-book-list-item>
