<div>
  <h2>Your books</h2>
  <div class="row mb-4">
    <div class="col-5 col-md-3 me-3">
      <label for="yearFilter" class="my-1 me-2">Year</label>
      <select id="yearFilter" class="form-control my-1 me-2" [(ngModel)]="yearFilter" (ngModelChange)="filterChanged()">
        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <app-review-list-item class="col-md-3 col-sm-6 col-12 mb-3" *ngFor="let book of books" [book]="book"></app-review-list-item>
  </div>
</div>
