<ng-template #notes let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Notes</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="book.notes"></div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<div [class]="bookClass">
  <a *ngIf="book.thumbnailUrl" [routerLink]="['/books', book.id]" class="flex-shrink-0">
    <img class="me-3" [src]="book.thumbnailUrl" [alt]="book.title" />
  </a>
  <div class="flex-grow-1 ms-3">
    <h5><app-book-status-icon [status]="book.status"></app-book-status-icon> {{book.authors | authors}} <span *ngIf="book.publicationDate">({{book.publicationDate | publicationDate}})</span></h5>
    <h4><a [routerLink]="['/books', book.id]">{{book.title}}</a></h4>
    <p *ngIf="listNamesIncluded.length > 0">Lists: {{listNamesIncluded.join(', ')}}</p>
    <div class="btn-group flex-wrap mt-2 me-2">
      <a class="btn btn-outline-secondary" [routerLink]="['/books', book.id, 'edit']"><fa-icon [icon]="faEdit"></fa-icon><span class="d-none d-md-inline"> edit</span></a>
      <button class="btn btn-outline-secondary" (click)="remove()"><fa-icon [icon]="faTrashAlt"></fa-icon><span class="d-none d-md-inline"> remove</span></button>
      <button class="btn btn-outline-secondary" (click)="updateStatus()"><app-book-status-icon [status]="book.status"></app-book-status-icon><span class="d-none d-md-inline"> status</span></button>
      <button *ngIf="book.notes" class="btn btn-outline-secondary" (click)="open(notes)"><fa-icon [icon]="faComment"></fa-icon></button>
    </div>
    <div class="btn-group flex-wrap mt-2">
      <div *ngIf="listsExcluded.length > 0" class="btn-group" ngbDropdown role="group">
        <button class="btn btn-outline-secondary" ngbDropdownToggle><fa-icon [icon]="faPlusCircle"></fa-icon> list</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem *ngFor="let list of listsExcluded" (click)="addToList(list.id)">{{list.name}}</button>
        </div>
      </div>
      <div *ngIf="listsIncluded.length > 0" class="btn-group" ngbDropdown role="group">
        <button class="btn btn-outline-secondary" ngbDropdownToggle><fa-icon [icon]="faMinusCircle"></fa-icon> list</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem *ngFor="let list of listsIncluded" (click)="removeFromList(list.id)">{{list.name}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

