<div class="modal-header">
  <h4 class="modal-title">Remove book</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <p>Do you really want to remove the book <em>{{book.title}}</em> from you library?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="dismiss()" ngbAutofocus>No</button>
  <span class="ms-auto"></span>
  <button type="button" class="btn btn-outline-dark" (click)="remove()">Yes</button>
</div>
