<div class="card mb-2">
  <div class="card-body">
    <h4><a [routerLink]="['/lists', list.id]">{{list.name}}</a> <span class="badge badge-secondary">{{list.bookIds.length}} books</span></h4>
    <p class="font-italic">Created {{createdAt | relativeDate}}<span *ngIf="createdAt !== modifiedAt">, updated {{modifiedAt | relativeDate}}</span></p>
    <p>{{list.description}}</p>
  </div>
  <div class="card-footer">
    <div class="btn-group float-end">
      <a class="btn btn-outline-secondary" [routerLink]="['/lists', list.id, 'edit']"><fa-icon [icon]="faEdit"></fa-icon> edit</a>
      <button class="btn btn-outline-secondary" (click)="delete()"><fa-icon [icon]="faTrashAlt"></fa-icon> remove</button>
    </div>
  </div>
</div>
