<div [class]="bookClass">
  <a [routerLink]="['/books', book.id]" class="flex-shrink-0">
    <img class="me-3" [src]="book.thumbnailUrl" [alt]="book.title" />
  </a>
  <div class="flex-grow-1">
    <h5>{{book.authors | authors}} <span *ngIf="book.publicationDate">({{book.publicationDate | publicationDate}})</span></h5>
    <h4><a [routerLink]="['/books', book.id]">{{book.title}}</a></h4>
    <div class="btn-group">
      <button class="btn btn-outline-secondary" type="button" [disabled]="first" (click)="moveUp()"><fa-icon [icon]="faArrowCircleUp"></fa-icon></button>
      <button class="btn btn-outline-secondary" type="button" [disabled]="last" (click)="moveDown()"><fa-icon [icon]="faArrowCircleDown"></fa-icon></button>
      <button class="btn btn-outline-secondary" type="button" (click)="remove()"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
    </div>
  </div>
</div>
