<h2>Your books</h2>
<div class="row mb-4">
  <div class="col-5 col-md-3 me-3">
    <label for="bookFilter" class="my-1 me-2">Show</label>
    <select id="bookFilter" class="form-control my-1 me-2" [(ngModel)]="bookFilter" (ngModelChange)="filterChanged()">
      <option value="wanted">Wanted</option>
      <option value="bought">Bought</option>
      <option value="read">Read</option>
      <option value="all">All</option>
    </select>
  </div>
  <div class="col-6 col-md-4">
    <label for="sortBy" class="my-1 me-2">Sort by</label>
    <select id="sortBy" class="form-control my-1 me-sm-2" [(ngModel)]="sortBy" (ngModelChange)="sortByChanged()">
      <option value="statusChange">Status change</option>
      <option value="createdAt">Added last</option>
      <option value="title">Title</option>
      <option value="publicationDate">Publication date</option>
    </select>
  </div>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
<div *ngIf="!loading">
  <app-book-list-item [book]="book" [bookLists]="bookLists" (bookRemoved)="loadBooks()" (addedToList)="addToList($event, book.id)" (removedFromList)="removeFromList($event, book.id)" [last]="i === booksFiltered.length - 1" *ngFor="let book of booksFiltered; let i = index"></app-book-list-item>
</div>
