<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lists">Lists</a></li>
    <li class="breadcrumb-item active"><a [routerLink]="['/lists', bookList.id]">{{bookList.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<h2>Edit book list</h2>
<form #createForm="ngForm" (ngSubmit)="submit(createForm)">
  <div class="mb-3">
    <label for="name">Name</label>
    <input id="name" [(ngModel)]="bookList.name" type="text" class="form-control" name="name" required />
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="bookList.description" class="form-control" name="description" required></textarea>
  </div>
  <div class="form-check">
    <input id="publicAccess" type="checkbox" [(ngModel)]="bookList.publicAccess" class="form-check-input" name="publicAccess" />
    <label for="publicAccess">Public Access?</label>
  </div>
  <h3 class="mt-4">Books</h3>
  <app-editable-book-list-item *ngFor="let book of bookList.books; let i = index" [book]="book" [last]="i === bookList.books.length -1" [first]="i === 0" (movedUp)="moveUp($event)" (movedDown)="moveDown($event)" (removed)="remove($event)"></app-editable-book-list-item>
  <div class="mb-3">
    <input type="submit" value="Save" class="btn btn-secondary" [disabled]="createForm.invalid">
  </div>
</form>
