<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/books">Books</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
  </ol>
</nav>
<div class="d-flex">
  <div class="flex-shrink-0">
    <img *ngIf="book.thumbnailUrl" class="me-3" [src]="book.thumbnailUrl" [alt]="book.title" />
  </div>
  <div class="flex-grow-1">
    <h5>{{book.authors | authors}} <span *ngIf="book.publicationDate">({{book.publicationDate | publicationDate}})</span></h5>
    <h4>{{book.title}}</h4>
    <p><app-book-status-icon [status]="book.status"></app-book-status-icon> Added {{createdAt | relativeDate}}<span *ngIf="book.createdAt !== book.modifiedAt">. Last modified {{modifiedAt | relativeDate}}.</span></p>
    <div class="btn-group">
      <a class="btn btn-outline-secondary" [href]="book.googleUrl"><fa-icon [icon]="faExternalLinkAlt" title="Google"></fa-icon>  <span class="d-none d-md-inline">google</span></a>
      <button class="btn btn-outline-secondary" [routerLink]="['/books', book.id, 'edit']"><fa-icon [icon]="faEdit"></fa-icon>  <span class="d-none d-md-inline">edit</span></button>
      <button class="btn btn-outline-secondary" (click)="remove()"><fa-icon [icon]="faTrashAlt"></fa-icon>  <span class="d-none d-md-inline">remove</span></button>
      <button class="btn btn-outline-secondary" (click)="updateStatus()"><app-book-status-icon [status]="book.status"></app-book-status-icon><span class="d-none d-md-inline"> status</span></button>
    </div>
  </div>
</div>
<div *ngIf="book.notes">
  <h5>Notes</h5>
  <p [innerHTML]="book.notes"></p>
</div>
<h5 *ngIf="book.notes">Description</h5>
<p [innerHTML]="book.description"></p>

<div class="card mb-4">
  <div class="card-header"><h5>Details</h5></div>
  <div class="card-body">
    <table id="book-details">
      <tbody>
      <tr *ngIf="book.language">
        <th>Language</th>
        <td>{{book.language | language}}</td>
      </tr>
      <tr *ngIf="book.pageCount">
        <th>Pages</th>
        <td>{{book.pageCount}}</td>
      </tr>
      <tr *ngIf="book.publisher">
        <th>Publisher</th>
        <td>{{book.publisher}}</td>
      </tr>
      <tr *ngIf="book.isbn10">
        <th>ISBN 10</th>
        <td>{{book.isbn10}}</td>
      </tr>
      <tr *ngIf="book.isbn13">
        <th>ISBN 13</th>
        <td>{{book.isbn13}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
