<label>Authors</label>
<div class="input-group" *ngFor="let author of authors; let i = index;trackBy:trackByIdx">
  <input type="text" [name]="'author' + i" class="form-control" [(ngModel)]="authors[i]" (ngModelChange)="emitChange()">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="remove(i)">Remove</button>
  </div>
</div>
<div>
  <button class="btn btn-outline-secondary" type="button" (click)="add()">Add</button>
</div>
