<h2>{{bookList.name}}</h2>
<p>{{bookList.description}}</p>
<h3 class="mt-4">Books</h3>
<app-external-book-list-item [last]="i === bookList.books.length - 1" [book]="book" *ngFor="let book of bookList.books; let i = index"></app-external-book-list-item>

