<label for="book-status">Status</label>
<select class="form-control" id="book-status" [(ngModel)]="status" (ngModelChange)="emitChange()">
  <option *ngFor="let statusValue of statusValues" [value]="statusValue">{{statusValue.toString().toLowerCase()}}</option>
</select>
