<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  <div class="form-row">
    <div class="col-md-12 mb-3">
        <label for="search-query">Search books</label>
        <input id="search-query" class="form-control" type="text" name="query" [(ngModel)]="query" required="required" placeholder="Enter book title or author">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="language">Language</label>
        <select id="language" [(ngModel)]="language" name="language" class="form-control">
          <option value="all">all</option>
          <option value="de">German</option>
          <option value="en">English</option>
        </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
        <input type="submit" class="btn btn-dark" value="Search" [disabled]="!searchForm.form.valid && !loading">
    </div>
  </div>
</form>
<div *ngIf="searchStarted">
  <h2 class="search-info">searching for "{{queryForLastSearch}}"</h2>
  <div infinite-scroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="1500" (scrolled)="search()">
    <app-search-list-item [item]="book" [last]="i+1 === books.length" *ngFor="let book of books; let i = index"></app-search-list-item>
    <app-loading-spinner [loading]="loading"></app-loading-spinner>
  </div>
</div>
