<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faBookOpen" class="wishbooks-logo"></fa-icon> wishbooks</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbar">
      <div class="me-auto">
        <ul *ngIf="loggedIn" class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/review" routerLinkActive="active">Review</a>
          </li>
        </ul>
      </div>
      <span *ngIf="loggedIn" class="navbar-text username">{{username}}</span>
      <button *ngIf="!loggedIn" class="btn btn-outline-light" (click)="login()">
        <fa-icon [icon]="faSignInAlt"></fa-icon> login
      </button>
      <button *ngIf="loggedIn" class="btn btn-outline-light" (click)="logout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon> logout
      </button>
    </div>
  </div>
</nav>
