<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lists">Lists</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>
<h2>New book list</h2>
<form #createForm="ngForm" (ngSubmit)="submit(createForm)">
  <div class="mb-3">
    <label for="name">Name</label>
    <input id="name" [(ngModel)]="name" type="text" class="form-control" name="name" required />
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="description" class="form-control" name="description" required></textarea>
  </div>
  <div class="form-check">
    <input id="publicAccess" type="checkbox" [(ngModel)]="publicAccess" class="form-check-input" name="publicAccess" />
    <label for="publicAccess">Public Access?</label>
  </div>
  <div class="mb-3">
    <input type="submit" value="Create" class="btn btn-secondary" [disabled]="createForm.invalid">
  </div>
</form>
