/* You can add global styles to this file, and also import other style files */
$link-decoration: none;
$link-hover-decoration: underline;
@import 'node_modules/bootstrap/scss/bootstrap.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
