<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/search">Search</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{details.title}}</li>
  </ol>
</nav>
<div class="d-flex">
  <div class="flex-shrink-0">
    <img *ngIf="details.thumbnailUrl" class="me-3" [src]="details.thumbnailUrl" [alt]="details.title" />
  </div>
  <div class="flex-grow-1">
    <h5>{{details.authors | authors}} <span *ngIf="details.publicationDate">({{details.publicationDate | publicationDate}})</span></h5>
    <h4>{{details.title}}</h4>
    <div class="btn-group">
      <a class="btn btn-outline-secondary" [href]="details.googleUrl"><fa-icon [icon]="faExternalLinkAlt" title="Google"></fa-icon> google</a>
      <button *ngIf="details.internalId" class="btn btn-outline-secondary" [routerLink]="['/books/', details.internalId]"><fa-icon [icon]="faListAlt"></fa-icon> saved version</button>
      <button *ngIf="!details.internalId" class="btn btn-outline-secondary" (click)="add()"><fa-icon [icon]="faPlusCircle"></fa-icon> add</button>
    </div>
  </div>
</div>
<p [innerHTML]="details.description"></p>

<div class="card mb-4">
  <div class="card-header"><h5>Details</h5></div>
  <div class="card-body">
    <table id="book-details">
      <tbody>
        <tr *ngIf="details.language">
          <th>Language</th>
          <td>{{details.language | language}}</td>
        </tr>
        <tr *ngIf="details.pageCount">
          <th>Pages</th>
          <td>{{details.pageCount}}</td>
        </tr>
        <tr *ngIf="details.publisher">
          <th>Publisher</th>
          <td>{{details.publisher}}</td>
        </tr>
        <tr *ngIf="details.isbn10">
          <th>ISBN 10</th>
          <td>{{details.isbn10}}</td>
        </tr>
        <tr *ngIf="details.isbn13">
          <th>ISBN 13</th>
          <td>{{details.isbn13}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

