<div [class]="searchItemClass">
  <div class="d-flex">
    <a *ngIf="item.thumbnailUrl" [routerLink]="['/search', item.id]" class="flex-shrink-0">
      <img class="me-3" [src]="item.thumbnailUrl" [alt]="item.title">
    </a>
    <div class="flex-grow-1">
      <h5>{{item.authors | authors }} <span *ngIf="item.publicationDate">({{item.publicationDate | publicationDate}})</span></h5>
      <h4><a [routerLink]="['/search',item.id]">{{item.title}}</a></h4>
      <div class="btn-group">
        <button *ngIf="item.internalId" class="btn btn-outline-secondary" [routerLink]="['/books', item.internalId]"><fa-icon [icon]="faListAlt"></fa-icon> saved version</button>
        <button *ngIf="!item.internalId" class="btn btn-outline-secondary" (click)="add()"><fa-icon [icon]="faPlusCircle"></fa-icon> add</button>
      </div>
    </div>
  </div>
</div>
