<div class="modal-header">
  <h4 class="modal-title">Update status</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" [(ngModel)]="status" value="WANTED" name="status">
          <app-book-status-icon [status]="wanted"></app-book-status-icon>
          wanted
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" [(ngModel)]="status" value="BOUGHT" name="status">
          <app-book-status-icon [status]="bought"></app-book-status-icon>
          bought
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" [(ngModel)]="status" value="READ" name="status">
          <app-book-status-icon [status]="read"></app-book-status-icon>
          read
        </label>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()" ngbAutofocus>Save</button>
</div>
