<div [class]="bookClass">
  <a [routerLink]="['/books', book.id]" class="flex-shrink-0">
    <img class="me-3" [src]="book.thumbnailUrl" [alt]="book.title" />
  </a>
  <div class="flex-grow-1">
    <h5>{{book.authors | authors}} <span *ngIf="book.publicationDate">({{book.publicationDate | publicationDate}})</span></h5>
    <h4><a [routerLink]="['/books', book.id]">{{book.title}}</a></h4>
    <p class="mb-0">Language: {{book.language | language}}</p>
    <p class="mb-0" *ngIf="book.publisher">Publisher: {{book.publisher}}</p>
    <p class="mb-0" *ngIf="book.isbn10">ISBN (10): {{book.isbn10}}</p>
    <p class="mb-0" *ngIf="book.isbn13">ISBN (13): {{book.isbn13}}</p>
  </div>
</div>
